<launch>
	<node name="distance_collection" pkg="coop_con_loc" type="distance_collection.py" output="screen" />
	<node name="localization_main" pkg="coop_con_loc" type="localization_main" output="screen" />
	<node name="absolute_velocity_main" pkg="coop_con_loc" type="absolute_velocity_main" output="screen" />
	<node name="vicon_client" pkg="coop_con_loc" type="vicon_client.py" output="screen" />	
</launch>
